{% extends 'base.html.twig' %}
{% block body %}
   <a class="btn btn-default" href="/">Back To Trip List</a>
    <hr>
    <h2 class="page-header">{{ trip.tripName }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Depart From: {{ trip.departFrom }}</li>
        <li class="list-group-item">Destination: {{ trip.destination }}</li>
        <li class="list-group-item">Description: {{ trip.description }}</li>
        <li class="list-group-item">Flight Details: {{ trip.flightId }}</li>
        <li class="list-group-item">Publish Date: {{ trip.createDate|date('F j,Y,g:i a') }}</li>
    </ul>
{% endblock %}